@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
  font-family: 'ProximaNova Regular', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  overflow-x: hidden;
}
.section-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

/* -------- Nav Bar ----------*/

nav {
     font-family: 'Courgette';
}

nav .brand-logo {
    color: #ff6e40;
    font-size: 3rem;
    font-family: 'Courgette', cursive;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

@media screen and (min-width: 993px){
nav .brand-logo {
    margin-left: 2.3rem;
}
}
nav ul a {
  color:#2d2d2d;
  font-size: 1.7rem;
  font-family: 'Courgette';
}
nav ul a:hover,
nav ul .active {
  color:#76c14f;
}
.fa-bars{
  color: #ff6e40;
}
h4,h5{
  font-family: 'Muli','sans-serif';
}
/*--------Title----------*/

.title-container{
  position: relative;
  text-align: center;
  color: white;
  width:100%;
  margin-top: 20px;
}
.title-container img{
    display: block;
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border-radius: 5px;
}

.intro-content{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
/*--------Category---------*/

.catergory-container{
  font-size: 1.2rem;
  color:#2d2d2d;
  margin-top: 20px;
  background-color:#eeeeee;
  height:70px;
  margin-left: 15px;
  margin-right: 15px;
}
.catergory-container .row {
  padding-top: 20px;
}
.catergory-container a {
  color:#2d2d2d; 
}
.catergory-container a :hover {
  color:#ff6e40 !important;
}

/*--------Description---------*/
.cells h4 {
  font-family: 'Muli','sans-serif';
}
.cells h5{
  color: #76c14f;
  font-size: 1.5rem; 
  font-family: 'Courgette',sans-serif;
}
 p {
  padding-left: 30px;
  padding-right: 30px;
}
.content{
  margin-top: 20px;
  margin-bottom: 20px;
}

.recipe-card .card .card-image img {
  display: block;
  position: relative;
  width: 100%;
  height: 200px; 
  }


/*--------View Recipe---------*/
.icon-color{
  color:rgb(109, 174, 177);
}
 .recipe-card .card-image{
   padding-top: 20px;
 }
 .recipe-view .card {
   background-color: #fcf4ec;
 }
 .preparation ol li {
   padding: 0px 15px 15px 15px;
 }
 .ingredients ul li {
    padding: 0px 15px 15px 15px;
    list-style-type: square;
 }
/*--------Footer---------*/

.page-footer i{
  color:#2d2d2d;
}
.page-footer i:hover{
   color:#ff6e40;
}
.page-footer {
    min-height: 45px;    
}      
.footer-content{
  display:flex;
  color:#2d2d2d;
}
.copyright{
  padding-top: 10px;
}
.social-icon {
  margin: 10px;
  color: white;
  font-size: 1.7rem;
}
