@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
  background-color: #F5D6C6;
  font-family: "Courgette&display", sans-serif;
  min-height: 100vh;
}
/*--------Title----------*/

.title-container{
  position: relative;
  text-align: center;
  color: white;
}
.intro-content{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
/*--------Footer---------*/
.page-footer {
    min-height: 50px;    
}      
.footer-content{
  display:flex;
}

.social-icon {
  margin: 10px;
  font-size: 1.6rem;
  color: white;
}

