@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
  font-family: 'ProximaNova Regular', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
main {
    flex: 1 0 auto;
  }
  
.section-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

/* -------- Nav Bar ----------*/

nav {
  font-family: 'Courgette', 'sans-serif';
}

nav .brand-logo {
  color: #ff6e40;
  font-size: 3rem;
  font-family: 'Courgette', 'cursive', 'sans-serif';
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (min-width: 993px) {
  nav .brand-logo {
    margin-left: 2.3rem;
  }
}

nav ul a {
  color: #2d2d2d;
  font-size: 1.7rem;
  font-family: 'Courgette', 'sans-serif';
}

nav ul a:hover,
nav ul .active {
  color: #76c14f;
}

.fa-bars {
  color: #ff6e40;
}

h4,
h5 {
  font-family: 'Muli', 'sans-serif';
}

/*--------Title----------*/

.title-container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 20px;
}

.title-container img {
  display: block;
  width: 100%;
  height: 35vh;
  object-fit: cover;
  border-radius: 5px;
}

.intro-content {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}

/*--------Subnav-Category---------*/

.category-container {
  font-size: 1.2rem;
  margin-top: 20px;
  height: 170px;
  overflow: hidden;
  width:100%;
}
.category-container .menu-list {
  display: flex;
  justify-content: space-between;
}
.scroll-tab{
  overflow: auto;
}
.category-container nav ul a {
  color: #2d2d2d;
  font-size: 1.1rem;
  font-family: 'Muli', 'sans-serif';
}

@media only screen and (min-width:320px) {
  .category-container nav,
  nav .nav-wrapper i{
    height: 150px;
    line-height: 25px;
  }
  .subnav-img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
}
@media only screen and (min-width: 601px) {
  .catergory-container nav,
  nav .nav-wrapper i {
    height: 170px;
    line-height: 25px;
  }
  .subnav-img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
}
}
/*-----carousel slider----- */

.carousel-display h4 {
  padding-top: 40px;
}

.carousel .carousel-item {
  width: 300px;
  height: 350px;
}

.img-carousel {
  width: 200px;
  box-shadow: 2px 2px 12px #3f1e09;
}

.carousel .recipe-name {
  visibility: hidden;
}

.carousel .active .recipe-name {
  visibility: visible;
}

/*--------Description---------*/
.cells {
  padding-top:30px;
}
.cells h4 {
  font-family: 'Muli', 'sans-serif';
}

.cells h5 {
  color: #76c14f;
  font-size: 1.5rem;
  font-family: 'Courgette', sans-serif;
}

.cells p {
  padding-left: 30px;
  padding-right: 30px;
}

.content {
  margin-top: 20px;
  margin-bottom: 20px;
}


/*--------Recipes---------*/

.recipe-card .card .card-image img {
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
}

.recipe-card .card-content {
  height: 150px;
}

.card-label {
  position: absolute;
  font-size: 0.8rem;
  top:10px;
  right: 10px;
  margin-top: 7px;
  padding: 2px 8px;
  border: 1px;
  color: white !important;
  background-color: #00528b;
  text-transform: uppercase;
  z-index: 1;
}
.cat-name{
   display: block;
}
/*--------View Recipe---------*/

.recipe-card .recipe-img{
  padding-top:15px;
}

.icon-color {
  color: rgb(109, 174, 177);
}

.recipe-view .card {
  background-color: #fcf4ec;
}

/*.preparation ol li {*/
/*  padding: 0px 15px 15px 15px;*/
/*}*/

.ingredients ul li {
  padding: 0px 15px 15px 5px;
}
.square{
  padding:5px;
  color:rgb(109, 174, 177);
}
#preparation-list {
    list-style: none;
    counter-reset: preparation-counter;
    padding: 0;
}

#preparation-list li {
    counter-increment: preparation-counter;
    padding: 1em 0;
}
#preparation-list>li::before {
    content:counter(preparation-counter);
    color: rgb(109, 174, 177);
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 0.25em;
    line-height: 1;
}

.like-dis {
  display: inline-flex;
  align-items: center;
  color: #000000;
  padding-right: .5rem;
}
.stat-icon {
  padding-left: .5px;
  padding-top:10px;
}
.oneline p, .allergen {
  display: inline-block;
  }
#list-inline {
  display: inline;
  list-style: none;
}
#list-inline li {
  display: inline;
}
#list-inline li:after {
  content: ", ";
}
#list-inline li:last-child:after {
    content: "";
}

/*--------Footer---------*/

.page-footer i {
  color: #2d2d2d;
}

.page-footer i:hover {
  color: #ff6e40;
}

.page-footer {
  min-height: 45px;
}

.footer-content {
  display: flex;
  color: #2d2d2d;
}

.copyright {
  padding-top: 10px;
}

.social-icon {
  margin: 10px;
  color: white;
  font-size: 1.7rem;
}
