 {% extends 'base.html' %} {% block content %}
<section class="account-section">
    <div class="row">
        <div class="col s12 center">
            <h2>Hi <span class="teal-text" style="text-transform:capitalize;">{{ session.username }}</span>!</h2>
        </div>
    </div>
</section>

<section class="row container">
    <div class="col s12">
        <h4>Recipes Submitted By You</h4>

        <!--Summary-->
        {% if total_recipes_by_user > 0 %}
        <h6>Showing your {{ total_recipes_by_user }} recipes</h6>
        {% else %}
        <h6>No recipes Submitted Yet.</h6>
        <a href="{{ url_for('add_recipe') }}" class="btn black">Add One Now</a>
        {% endif %}
    </div>
</section>
<section id="card-display" class="container">
    <div class="row">
        <div class="card-image">
            {% for recipe in user_recipes %}
            <div class="col s12 m6 l3  recipe-card">
                <div class="card">
                    <div class="card-image hoverable">
                        <a class="waves-effect waves-light" href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"> 
                        {% if recipe.image_url %}
                            <img src="{{ recipe.image_url }}" class="responsive-img" alt="{{ recipe_name }}">
                         {% else %}
                            <img src="{{ url_for('static', filename='images/defaultimg.png') }}" alt="{{ recipe_name }}">
                         {% endif %}     
                          </a>
                        <a href="{{ url_for('view_recipe',recipe_id=recipe._id) }}" class="card-label">
      
       {{ recipe.cuisine }}</a> 
       
       {% if session['username'] == recipe.author %}
                        <a href="{{ url_for('edit_recipe', recipe_id = recipe._id) }}" class="btn-floating halfway-fab waves-effect waves-light orange darken-2 btn-small">
            <i class="fas fa-pencil-alt"></i></a> {% endif %}
                    </div>
                    <div class="card-content">
                        <a class="waves-effect waves-light" href="{{ url_for('view_recipe',recipe_id=recipe._id) }}">
          <span class="black-text card-title">{{ recipe.recipe_name }}</span></a>
                        <span class="teal-text cat-name">{{recipe.category_name}} </span>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>
    {% endblock %}
 