{% extends 'base.html'%} {% block content %}
<section class="page-container">
    <div class="row center">
        <h2>Add Your Recipe</h2>
    </div>
    <div class="row">
        <form action="{{ url_for('add_recipe') }}" method="POST" class="col s12">
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s10 offset-s1 center">
                    <h5><strong>Recipe Name:</strong></h5>
                    <input placeholder="Recipe Name" id="recipe_name" name="recipe_name" type="text" class="validate" required="">
                </div>
            </div>
            <div class="row">
                <div class="col m10 offset-m1">
                    <div class="col s6 l4">
                        <div class="input-field">
                            <i class="fas fa-utensils material-icons prefix"></i>
                            <select id="category" name="category_name" class="validate" required>
                           <option value="" disabled selected>Category</option>
                            {% for cat in categories %}
                           <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                           {% endfor %}
                           </select>
                            <label>Category</label>
                        </div>
                    </div>
                    <div class="col s6 l4">
                        <div class="input-field">
                            <i class="fas fa-globe-asia material-icon prefix"></i>
                            <select id="cuisine" name="cuisine" class="validate" required>
                           <option value="" disabled selected>Cuisine</option>
                            {% for cat in categories %}
                           <option value="{{cat.cusine}}">{{cat.cusine}}</option>
                           {% endfor %}
                           </select>
                            <label>Cusine</label>
                        </div>
                    </div>
                    <div class="col s6 l4">
                        <div class="input-field">
                            <i class="fas fa-clock material-icons prefix"></i>
                            <input id="cooking_time" name="cooking_time" type="number" placeholder="Time in minutes" class="validate" min="1" required="">
                            <label>Cooking Time(min)</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m10 offset-m1">
                    <div class="col s6 l4">
                        <div class="input-field">
                            <i class="fas fa-signal material-icons prefix"></i>
                            <select id="difficulty" name="" class="validate" required>
                           <option value="" disabled selected>Difficulty</option>
                            {% for cat in categories %}
                           <option value="{{cat.difficulty}}">{{cat.difficulty}}</option>
                           {% endfor %}
                           </select>
                            <label>Difficulty</label>
                        </div>
                    </div>
                    <div class="col s6 l4">
                        <div class="input-field">
                            <i class="fas fa-users material-icons prefix"></i>
                            <input id="serves" name="serves" type="number" class="validate" min="1" required="">
                            <label>Serves</label>
                        </div>
                    </div>
                    <div class="col s6 l4">
                        <div class="input-field">
                            <i class="fas fa-exclamation-triangle material-icon prefix"></i>
                            <select id="allergens" name="allergens" class="validate" required>
                           <option value="" disabled selected>Allergens</option>
                            {% for cat in categories %}
                           <option value="{{cat.allergens}}">{{cat.allergens}}</option>
                           {% endfor %}
                           </select>
                            <label>Allergens</label>
                        </div>
                    </div>

                </div>
            </div>           
        </form>
    </div>
</section>
{% endblock %}
