{% extends 'base.html'%} {% block content %}
<!-- Title image -->
<section class="title-container section-container">
 <img src="{{ url_for('static', filename='images/titleimg.jpg') }}" alt="title image">
 <div class="intro-content">
  <h5>Everyday Cooking Recipes</h5>
 </div>
</section>

<!-- Category -->
<section class="catergory-container section-container">
 <div class="row">
  <div class="col s1 offset-s2">
   <!-- Dropdown Trigger -->
   <a class='dropdown-trigger' href='#' data-target='dropdown1'>Starter</a>
  </div>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
   <li><a href="#!">one</a></li>
   <li><a href="#!">two</a></li>
   <li><a href="#!">three</a></li>
   <li><a href="#!">four</a></li>
   <li><a href="#!">five</a></li>
  </ul>

  <div class="col s1">
   <!-- Dropdown Trigger -->
   <a class='dropdown-trigger' href='#' data-target='dropdown1'>Main</a>
  </div>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
   <li><a href="#!">one</a></li>
   <li><a href="#!">two</a></li>
   <li><a href="#!">three</a></li>
   <li><a href="#!">four</a></li>
   <li><a href="#!">five</a></li>
  </ul>
  <div class="col s1">
   <!-- Dropdown Trigger -->
   <a class='dropdown-trigger' href='#' data-target='dropdown1'>Snacks</a>
  </div>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
   <li><a href="#!">one</a></li>
   <li><a href="#!">two</a></li>
   <li><a href="#!">three</a></li>
   <li><a href="#!">four</a></li>
   <li><a href="#!">five</a></li>
  </ul>
  <div class="col s1">
   <!-- Dropdown Trigger -->
   <a class='dropdown-trigger' href='#' data-target='dropdown1'>Dessert</a>
  </div>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
   <li><a href="#!">one</a></li>
   <li><a href="#!">two</a></li>
   <li><a href="#!">three</a></li>
   <li><a href="#!">four</a></li>
   <li><a href="#!">five</a></li>
  </ul>
  <div class="col s1">
   <!-- Dropdown Trigger -->
   <a class='dropdown-trigger' href='#' data-target='dropdown1'>Drinks</a>
  </div>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
   <li><a href="#!">one</a></li>
   <li><a href="#!">two</a></li>
   <li><a href="#!">three</a></li>
   <li><a href="#!">four</a></li>
   <li><a href="#!">five</a></li>
  </ul>
  <div class="col s1">
   <!-- Dropdown Trigger -->
   <a class='dropdown-trigger' href='#' data-target='dropdown1'>Baking</a>
  </div>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
   <li><a href="#!">one</a></li>
   <li><a href="#!">two</a></li>
   <li><a href="#!">three</a></li>
   <li><a href="#!">four</a></li>
   <li><a href="#!">five</a></li>
  </ul>
  <div class="col s1">
   <!-- Dropdown Trigger -->
   <a class='dropdown-trigger' href='#' data-target='dropdown1'>BBQ</a>
  </div>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
   <li><a href="#!">one</a></li>
   <li><a href="#!">two</a></li>
   <li><a href="#!">three</a></li>
   <li><a href="#!">four</a></li>
   <li><a href="#!">five</a></li>
  </ul>
  <div class="col s1">
   <!-- Dropdown Trigger -->
   <a class='dropdown-trigger' href='#' data-target='dropdown1'>Salads</a>
  </div>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
   <li><a href="#!">one</a></li>
   <li><a href="#!">two</a></li>
   <li><a href="#!">three</a></li>
   <li><a href="#!">four</a></li>
   <li><a href="#!">five</a></li>
  </ul>
 </div>
</section>
<!-- Carosal-Display -->
<section  class="carosal-display">
        <div class="col s12">
            <div class="carousel">
                {% for recipe in recipes%}
                <div class="carousel-item">
                    <div class="row">
                        <div class="col s12">
                            <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}">
                                {% if recipe.image_url %}
                                <img class="responsive-img"
                                    src="{{recipe.image_url}}">
                                {% else %}
                                <img class="img-carousel" src="{{url_for('static', filename='img/default.jpg')}}">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="row recipe-name">
                        <div class="col s12 center-align">
                            <h5 class="teal-text"> {{recipe.recipe_name}} </h5>
                        </div>
                    </div>
    
                </div>
                {% endfor %}
            </div>
        </div>
       
    </section>
    
<!-- Description -->
<section class="section-container div-description">
 <div class="row cells center">
  <div class="col s12">
   <h4> How Does It Work </h3>
  </div>
  <div class="col s12 m4 content">
   <h5>1.Create</h5>
   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
  </div>
  <div class="col s12 m4 content">
   <h5>2.Discover</h5>
   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
  </div>
  <div class="col s12 m4 content">
   <h5>3.Organize</h5>
   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
  </div>
 </div>
</section>

{% endblock %}
