{% extends 'base.html' %} {% block content %}
<section class="container">
  <div class="search row">
    <form method="POST" action="search">
      <div class="col s12">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <input class="input_search" id="word_find" name="word_find" type="search" required>
        <button class="submit-btn btn-small waves-effect waves-light right teal" type="submit" name="action">Search</button>
      </div>
    </form>
  </div>
</section>
<section id="card-display" class="container">
  <div class="row">
   <div class="card-image">
    {% for recipe in recipes %}
    <div class="col s12 m6 l3  recipe-card">
      <div class="card">
        <div class="card-image hoverable">
          <a class="waves-effect waves-light" href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"> 
        <img src="{{recipe.image_url}}" class="responsive-img" alt="{{recipe_nmae}}"></a>
       <a href="{{ url_for('view_recipe',recipe_id=recipe._id) }}" class="card-label">
       {% if recipe.cuisine != "None" %}
       {{ recipe.cuisine}}</a>
       {% else %}
       {{recipe.category_name}}
       {% endif %}
        </div>
        <div class="card-content">
        <a class="waves-effect waves-light" href="{{ url_for('view_recipe',recipe_id=recipe._id) }}">
          <span class="black-text card-title">{{ recipe.recipe_name }}</span></a>
          <span class="teal-text cat-name">{{recipe.category_name}} </span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <section>

    {% endblock %}
