{% extends 'base.html' %} {% block content %}

<section class="container">
  <div class="row center">
    <h3>Search</h3>
  </div>
  <div class="search">
    <form method="POST" action="#">
      <div class="row">
        <div class="input-field col offset-s1 s10 l4">
          <i class="fas fa-sort"></i>
          <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
        </select>
          <label>Materialize Select</label>
        </div>
        <div class="input-field col offset-s1 s10 offset-m6 m5 l4 offset-l4">
          <i class="material-icons">search</i>
          <input id="find-recipe" name="find-recipe" type="search" placeholder="Search" required>
        </div>
      </div>
    </form>

  </div>


</section>
<section id="card-display" class="container">
  <div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m6 l3  recipe-card">
      <div class="card">
        <div class="card-image hoverable">
          <a class="waves-effect waves-light" href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"> <img src="{{recipe.image_url}}" class="responsive-img" alt="image of recipe"></a>
        </div>
        <div class="card-content">
          <span class="black-text card-title">{{ recipe.recipe_name }}</span>
          <span>{{recipe.category_name}} </span>
          <p class="black-text">{{ recipe_name }} </p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('view_recipe',recipe_id=recipe._id) }}">View Recipe</a>
          <span class="black-text right" id="likes"><i class="material-icons red-text right" id="like">favorite</i></span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <section>

    {% endblock %}
