{% extends 'base.html' %} {% block content %}

<section class="view-recipe">
    <div class="container recipe-view">
        <div class="row card recipe-card">
            <div class="col s12 l4 center-align card-image">
                <img height="400" width="375" src="{{recipe.image_url}}" alt="recipe image" class="responsive-img materialboxed">
            </div>
            <div class="col s12 l8 center-align">
                <div class="recipe-header">
                    <h4>{{recipe.recipe_name}}</h4>
                </div>
                <div class="author">
                    <p>Recipe By <span>{{recipe.author}}</span></p>
                </div>
                <div class="row ">
                    <div class="col s5 offset-s1 left-align">
                        <div>
                            <p> <i class="fas fa-clock icon-color"></i> Cooking Time: <span class="">{{recipe.cooking_time}}</span> min
                            </p>
                        </div>

                        <div>
                            <p> <i class="fas fa-fire icon-color"> </i> Difficulty:
                                <span class="">{{recipe.difficulty}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="col s5 left-align">
                        <div>
                            <p> <i class="fas fa-utensils icon-color"></i> Category: <span class="">{{recipe.category_name}}</span>
                            </p>
                        </div>
                        <div>
                            <p> <i class="fas fa-users icon-color"></i> Serves:
                                <span class="">{{recipe.serves}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 recipe-description">
                        <p><span class="">{{recipe.description}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 ">
                        <i class="fas fa-exclamation-circle red-text"></i> Allergens : <span class="">{{recipe.allergens}}</span>
                    </div>
                </div>
</section>
<section id="Ingredients-Preparation">
    <div class="container">
        <div class="row ">
            <!-- ingredient -->
            <div class="col s12 m4 offset-s1 offset-m1 ingredients">
                <div class="row">
                    <div class="col s12 ingredients">
                        <h5>Ingredients</h5>
                        <br>
                        <ol class "striped">
                            {% for ingredient in recipe.ingredients %}
                            <li>
                                {{ ingredient }}
                            </li>

                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            <!-- Preparation -->
            <div class="col s12  m7 preparation">
                <div class="row">
                    <div class="col s12">
                        <h5 class="center">Preparation Method</h5>
                        <br>
                        <ol>
                            <li>
                                {% for preparation in recipe.preparation %}
                                <i class="material-icons prefix teal-text tiny">fiber_manual_record</i> {{ preparation }}
                                <div class="divider"></div>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
<section>
    <div class="container recipe-view">
        <div class="row card recipe-card">
        </div>
    </div>
</section>
<section>
    <div class="row center container">
        <a class="waves-effect waves-light btn light-green">Edit</a>
        <a class="waves-effect waves-light btn light-green">Delete</a>
        <a class="waves-effect waves-light btn right red"> <i class="fa fa-thumbs-up"></i></a>
    </div>
</section>
{% endblock %}
